<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Byte snippet</Title>
      <Author>Per Brage</Author>
      <Description>Replaces byte with Byte</Description>
      <Shortcut>byte</Shortcut>
    </Header>
    <Snippet>
      <Code Language="csharp"><![CDATA[Byte$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>