<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>String snippet</Title>
      <Author>Per Brage</Author>
      <Description>Replaces string with String</Description>
      <Shortcut>string</Shortcut>
    </Header>
    <Snippet>
      <Code Language="csharp"><![CDATA[String$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>