<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>UInt16 snippet</Title>
      <Author>Per Brage</Author>
      <Description>Replaces ushort with UInt16</Description>
      <Shortcut>ushort</Shortcut>
    </Header>
    <Snippet>
      <Code Language="csharp"><![CDATA[UInt16$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>