<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Int32 snippet</Title>
      <Author>Per Brage</Author>
      <Description>Replaces int with Int32</Description>
      <Shortcut>int</Shortcut>
    </Header>
    <Snippet>
      <Code Language="csharp"><![CDATA[Int32$end$]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>